<form method="post" class="home-value" action="/thankyou" id="home-search-form">
    <fieldset>
        <p id="thanks"></p>
        <!--1-->
        <label for="type">What type of property are you looking for?</label>
        <select name="type">
            <option value="-Any-" selected="selected">
                -Any-
            </option>
            <option value="-Any-">
                Single-Family Home
            </option>
            <option value="Condo">
                Condo
            </option>
            <option value="Townhome">
                Townhome
            </option>
            <option value="Retail">
                Retail
            </option>
            <option value="Multifamily">
                Multifamily
            </option>
            <option value="Office">
                Office
            </option> 
            <option value="Industrial">
                Industrial
            </option>             
            <option value="Rentals">
                Rentals
            </option>
        </select>


        <label for="footage">
            What is your desired price range?
        </label>
        <input type="text" name="footage" />
        <label for="footage">
            Number of Units (if applicable)
        </label>
        <input type="text" name="units" />        
    </fieldset>
    
        <!--4-->
        <label for="bedrooms">Minimum number of bedrooms?</label>
        <select name="bedrooms">
            <option value="-Select-" selected="selected">
                -Select-
            </option>
            <option value="1">
                1
            </option>
            <option value="2">
                2
            </option>
            <option value="3">
                3
            </option>
            <option value="4">
                4
            </option>
            <option value="5">
                5
            </option>
            <option value="6">
                6
            </option>
            <option value="7+">
                7+
            </option>
        </select>
    </fieldset>
    <fieldset>
        <!--5-->
        <label for="comments?">
            Any important features or comments?
        </label>
        <textarea name="comments"></textarea>
    </fieldset>
    <fieldset>
        <!--5-->
        <label for="when?">
            What is your timeline?
        </label>
        <select name="when">
            <option value="Just Browsing" selected="selected">
                Just Browsing
            </option>
            <option value="Less than one month">
                Less than one month
            </option>
            <option value="1-3 months">
                1-3 months
            </option>
            <option value="3-6 months">
                3-6 months
            </option>
            <option value="6 months+">
                6 months+
            </option>
        </select>
        <!--7-->
        <label for="name">Name<span class="asterisk">*</span>
        </label>
        <input type="text" name="name" required>

        <!--9-->
        <label for="email">Email<span class="asterisk">*</span>
        </label>
        <input type="email" name="_replyto" required>
        <!--10-->
        <label for="phone">Number</label>
        <input type="tel" name="phone">
        <button class="g-recaptcha" data-sitekey="{{site.data.settings.forms.sitekey}}" data-callback='onHomeSearchSubmit' data-badge="bottomleft">Submit</button>
    </fieldset>
      <!-- Cloud cannon settings field -->
      <div class="hidden">
        <input type="hidden" name="_to" value="{{site.data.settings.client.email}}">
        <input type="hidden" name="_subject" value="Contact Message From Your {{site.data.settings.title}}">
        <input type="text" name="_gotcha">
      </div>
    </form>
